.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
img{
    width: 55vh;
}
p{
    font-size: 3rem;
}
h2{
  margin-top: 0rem;
}
.input{
    height: 1.8rem;
    border: none;
    margin-left:1rem;
    font-size: 1.2rem;
}
   
button{
    margin:0.3rem;
    padding: 0.6rem 0.8rem ;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.2rem;
}
button:nth-of-type(1){
    background-color: rgb(34, 200, 123);
}
button:nth-of-type(2){
    background-color: rgb(42, 124, 255);
}
button:nth-of-type(3){
    background-color: brown;
}
form{
    display: flex;
    padding: 1rem;
    align-items:flex-start;
    justify-content: flex-start;
    font-size: 2rem;
}
.red{
    color: red;
    font-weight: 700;
}
.green{
    color:green;
    font-weight: 700;
}
.reset{
    background-color:grey;
}
.inactive{
    filter: opacity(75%);
}